<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${table.className}Mapper">
	
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  
	
	<resultMap type="${table.className}" id="${table.className}Result">
		<result column="CREATE_TIME" property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
		<result column="MODIFY_TIME" property="modifyTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<insert id="save" parameterType="${table.className}">
	    INSERT INTO ${table.sqlName} 
	      (
	      <#list table.columns as column> 
	        ${column.sqlName}<#if column_has_next>,</#if>
	      </#list>
	      ) 
	    VALUES 
	      (<#list table.columns as column>${r'#{'}${column.columnNameLower}${r'}'}<#if column_has_next>, </#if></#list>)
	</insert>
	
	<delete id="delete" parameterType="String">  
        DELETE FROM ${table.sqlName} WHERE ID = ${r'#{id}'}
    </delete>
	
	<update id="update" parameterType="${table.className}">
	    UPDATE ${table.sqlName} 
	      SET 
	          <#list table.columns as column>
	          ${column.sqlName} = ${r'#{'}${column.columnNameLower}${r'}'}<#if column_has_next>,</#if> 
	          </#list> 
	      WHERE ID = ${r'#{id}'}  
    </update>
	
	<select id="findById" parameterType="String" resultMap="${table.className}Result" useCache="false">
		SELECT 
		       <#list table.columns as column>
		       ${column.sqlName}<#if column_has_next>,</#if>
		       </#list> 
		  FROM ${table.sqlName} 
		WHERE ID = ${r'#{id}'}
	</select>

</mapper>