<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.dao.${className}Mapper">
    <resultMap id="${className}ResultMap" type="${basePackage}.entity.${className}Entity">
    <#list columns as column>
		<result column="${column.name?upper_case}" jdbcType="${column.jdbcType}" property="${column.javaNameVariable}"/>
	</#list>
    </resultMap>

    <select id="queryList" parameterType="map" resultMap="${className}ResultMap">
        SELECT 
        <#list columns as column>
  			t1.${column.name}<#if column_has_next>, </#if>
		</#list>
   		FROM ${tableName} AS t1
        <where>
       	<#list columns as column>
       		<#if column.javaType == "java.lang.String">
			<if test='${column.name?upper_case} != null and ${column.name?upper_case} != ""'>
                AND t1.${column.name} = <#noparse>#{</#noparse>${column.name?upper_case}<#noparse>}</#noparse>
            </if>
            <#else>
            <if test='${column.name?upper_case} != null'>
                AND t1.${column.name} = <#noparse>#{</#noparse>${column.name?upper_case}<#noparse>}</#noparse>
            </if>
			</#if>
		</#list>
        </where>
    </select>

</mapper>